@import 'terminal.css';
@import 'menu.css';

.ember{
  color: #00BBCC;
}
.test{
  color: #CD7700;
}
body {
  font-family: courier, monospace;
  background-color: #AEA79F;
  margin-left:auto;
  margin-right:auto;
  margin-top:100px;
  font-size:1em;
}
input{
  font-family: courier, monospace;
  width: 90%;
  border: none;
  background: #141414;
  color: #45D40C;
  font-size:1em;
}
.message-input{
  width : 100%;

}
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}
