nav{
  width: 100%;
  background: #141414;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}

nav ul li {
  text-align: center;
  display: table-cell;
}

nav ul li a {
  display: block;
  background: #393939;
  color: #818181;
  padding: 0 10px;
  text-decoration: none;
}
nav ul li a.selected {
  background: #141414;
  color: #45D40C;
}
#tab-create-room{
  background: #393939;
  border: none;
  width: 2em;
}
#btn-create-room{
  background: #393939;
  color: #45D40C;
  display: block;
  padding: 0 10px;
  text-decoration: none;
  border: none;
}
