<h2 id="title">Welcome to The Messenger</h2>
<section id="messengerapp">
    <header id="header">
        <h1>messages</h1>
    </header>

    {{outlet}}
</section>

<footer id="info">
    <p>Double-click to edit a message</p>
</footer>
