<h2 id="title">Welcome to The Messenger</h2>
<section id="messengerapp">
    <header id="header">
      <nav>
        <ul id="chat-rooms">
          <li>
            {{#link-to "messages.index" activeClass="selected"}}All{{/link-to}}
          </li>
          <li>
            {{#link-to "messages.ember" activeClass="selected"}}Ember{{/link-to}}
          </li>
          <li>
            {{#link-to "messages.test" activeClass="selected"}}Test{{/link-to}}
          </li>
        </ul>
      </nav>
    </header>
    <section id="content">
      {{outlet}}
    </section>
</section>
