<section id="messengerapp" class="shell-wrap">
  <p class="shell-top-bar">/home/omegapoint/duchess/ember_messenger</p>
    <section id="content" class="shell">
      {{outlet}}
    </section>
</section>
