<h2 id="title">Welcome to The Messenger</h2>
<section id="messengerapp">
    <header id="header">
      <nav>
        <ul id="chat-rooms">
          <li>
            <a href="/" class="selected">All</a>
          </li>
          <li>
            <a href="ember">Ember</a>
          </li>
          <li>
            <a href="test">Test</a>
          </li>
        </ul>
      </nav>
    </header>
    <section id="content">
      {{outlet}}
    </section>
</section>