<nav id='chat-rooms'>
  <ul>
    <li>
      <span>
        {{#link-to "rooms.index" activeClass="selected"}}ALL{{/link-to}}
      </span>
    </li>
    {{#each model as |room|}}
    <li>
      <span>
        {{#link-to "rooms.room" room activeClass="selected"}}{{room.name}}{{/link-to}}
      </span>
    </li>
    {{/each}}
    <li id='tab-create-room'>
      <span>
        <button id='btn-create-room'><strong>+</strong></button>
      </span>
    </li>
  </ul>
</nav>
{{author-input action="updateAuthor" class="terminal-input"}}
<section class='shell-body'>
{{outlet}}
</section>
