<nav id="chat-rooms">
  <ul>
    <li>
      <span {{action "changedRoom"}}>
        {{#link-to "rooms.index" activeClass="selected"}}ALL{{/link-to}}
      </span>
    </li>
    {{#each model as |room|}}
    <li>
      <span>
        {{#link-to "rooms.room" room activeClass="selected"}}{{room.name}}{{/link-to}}
      </span>
    </li>
    {{/each}}
  </ul>
</nav>
{{author-input action="updateAuthor" class="terminal-input"}}
<section class="shell-body">
{{outlet}}
</section>
